@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
:root {
    --clr-background: #f5f5f5;
    --clr-white: rgb(244, 244, 244);
    --clr-gray: rgb(231, 234, 234);
    --clr-primary: #2c3e50;
    --clr-dark: #1a1a1a;
    --clr-secondary: #2ecc71;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --box-shadow-lg: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --max-width: 1000px;
}

#root {
    background: var(--clr-background); /* fallback for old browsers */
}
.app {
    height: 100%;
    padding: 24px;
}

html {
    font-family: "Roboto", "Courier New", Courier, monospace;
}

/* SHARED  */

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: none;
    background: var(--clr-primary);
    color: var(--clr-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.btn:hover {
    background: var(--clr-dark);
    color: var(--clr-white);
    box-shadow: var(--box-shadow-lg);
}

.favorite-button {
    color: #f65857;
    cursor: pointer;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    height: 30px;
    overflow: hidden;
}

.genres > .genre {
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 0.5rem;
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.missing-image {
    height: 100%;
    max-height: 290px;
    max-width: 80%;
    aspect-ratio: 105 / 147.5;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-background);
    font-size: 1rem;
}

/* HOME  */
.search-container {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
}

.search-container > .title,
.favorites-container > .title {
    font-size: 64px;
    font-weight: 700;
    color: var(--clr-white);
    margin-bottom: 16px;
    color: var(--clr-primary);
    text-align: center;
}

#search-input {
    width: 100%;
    max-width: 500px;
    margin: 16px 0;
    font-size: 1.2rem;
    border-style: none;
    border-radius: 0.5rem;
    text-align: left;
    overflow: hidden;
    line-height: 40px;
    padding: 0 16px;
    box-shadow: var(--box-shadow);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    gap: 32px;
    opacity: 1;
    transition: opacity 0.6s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
}

.hidden-results {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0 ease-in-out;
}

.loader {
    margin-top: 64px;
}

/* SHOW  */
.show-container {
    max-width: var(--max-width);
    margin: 0 auto;
    font-size: 1.25rem;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.show-container.hide {
    opacity: 0;
    transform: translateY(100px);
}

.show-container .favorite-button {
    font-size: 3rem;
}

.show-container .top {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.show-container .title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--clr-primary);
}

.show-view {
    display: flex;
    flex-direction: row;
    margin: 32px 0;
}

.show-view .side {
    flex: 0 0 35%;
}

.show-view .side img {
    max-width: 80%;
    object-fit: cover;
}
.show-view .side .info {
    display: flex;
    gap: 16px;
    color: rgb(143, 139, 139);
    margin-bottom: 8px;
}

.show-view > .main {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.show-view > .main .info {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.show-view > .main .links {
    display: flex;
    align-items: center;
    gap: 64px;
    font-size: 2.5rem;
    cursor: pointer;
}

.show-view > .main .links a {
    color: var(--clr-primary);
}

.show-view > .main .info .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
}

.show-view > .main .info .rating-star {
    color: #f6c92a;
    font-size: 1.5rem;
    position: relative;
    bottom: 4px;
    margin-right: 8px;
}

.show-view > .main .info .rating span {
    color: rgb(143, 139, 139);
    font-weight: 300;
}

@media (max-width: 768px) {
    .show-view {
        flex-direction: column;
    }

    .show-view > .side > img {
        max-width: 60%;
    }

    .show-view > .main .info {
        margin-top: 32px;
    }

    .show-container .title {
        font-size: 1.5rem;
    }

    .show-container .favorite-button {
        font-size: 2rem;
    }
}
